{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Subdivision Reports
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2><a href="{{ path('subdivisionreport') }}">Subdivision Reports</a></h2>
            </div>
        </div>

        <!-- FILTERING -->
        <div class="col-md-12">
            <div id="filters" class="collapse">

                <form class="well" action="{{ path('subdivisionreport') }}" method="get">
                    <div class="row">

                        <div class="col-md-6">{{ form_row(filterForm.start) }}</div>

                        <div class="col-md-6">{{ form_row(filterForm.end) }}</div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning" name="filter_action" value="filter"><span
                                            class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
                                </button>
                                <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span
                                            class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END FILTERING -->


        <div class="col-md-3 pull-left">

            <!-- PAGE SIZE -->
            <div class="pagination form-inline ">
                <select class="form-control" onchange="window.location = this.value">
                    <option value='{{ path('subdivisionreport', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>
                        10
                    </option>
                    <option value='{{ path('subdivisionreport', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>
                        20
                    </option>
                    <option value='{{ path('subdivisionreport', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>
                        50
                    </option>
                    <option value='{{ path('subdivisionreport', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>
                        100
                    </option>
                    <option value='{{ path('subdivisionreport', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>
                        500
                    </option>
                </select>
            </div>
            <!-- END PAGE SIZE -->

        </div>

        <div class="col-md-6">


        </div>

        <div class="col-md-3">
            <a class="btn btn-primary h3 pull-right" href="{{ path('subdivisionreport_import') }}"
               style="margin-bottom:10px">
                <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import
            </a>
            <a class="btn btn-primary h3 pull-right" href="{{ path('subdivisionreport_new') }}"
               style="margin-bottom:10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
            </a>
            <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
                Filter
                <span class="caret"></span>
            </a>
        </div>


        <div class="col-md-12">
            {%- if form_errors(filterForm) %}
                <div class="alert alert-block alert-error fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
        </div>

    </div> <!-- /#top -->


    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>


    <div class="row">

        <div class="table-responsive col-md-12">
            <form method="POST" id="bulk_form" action="{{ path('subdivisionreport_bulk_action') }} ">
                <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                        {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                        <th>{{ macros.th_sortable('subdivision',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'subdivisionreport') }}</th>
                        <th>{{ macros.th_sortable('start',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'subdivisionreport') }}</th>
                        <th>{{ macros.th_sortable('end',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'subdivisionreport') }}</th>


                        <th width="130px">List</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subdivisionReport in subdivisionReports %}
                        {% set reportHasBadData = validator.validate(subdivisionReport)|length > 0 %}
                        <tr onclick="window.document.location='{{ path('subdivisionreport_show', {'id': subdivisionReport.id}) }}';"
                            style="cursor:pointer;"
                                {% if subdivisionReport.missingData == true or reportHasBadData == true %}
                                    class="report-missing-data"
                                {% endif %}
                        >
                            <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all"
                                       value="{{ subdivisionReport.id }}"/></td>
                            <td>
                                <a href="{{ path('subdivision_show', { 'id': subdivisionReport.subdivision.id }) }}">{{ subdivisionReport.subdivision.name }}</a>
                            </td>
                            <td>{%- if subdivisionReport.start %}{{ subdivisionReport.start|date('Y-m-d') }}{% endif %}</td>
                            <td>{%- if subdivisionReport.end %}{{ subdivisionReport.end|date('Y-m-d') }}{% endif %}</td>

                            <td class="actions">
                                <a title='Show' class="btn btn-primary btn-sm"
                                   href="{{ path('subdivisionreport_show', { 'id': subdivisionReport.id }) }}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                                <a title='Edit' class="btn btn-primary btn-sm"
                                   href="{{ path('subdivisionreport_edit', { 'id': subdivisionReport.id }) }}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a title='Text' class="btn btn-info btn-sm"
                                   href="{{ path('subdivisionreport_export', {
                                       'cityName': subdivisionReport.subdivision.city.name,
                                       'subdivisionName': subdivisionReport.subdivision.name,
                                       'endMonth': subdivisionReport.getEndMonth(),
                                       'endDay': subdivisionReport.getEndDay(),
                                       'endYear': subdivisionReport.getEndYear()
                                   }) }}">
                                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                </a>
                            </td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>


        </div>
    </div> <!-- /#list -->




    <div class="row">
        <div class="col-md-4 pull-left">
            <div class="pagination form-inline ">
                <select class="form-control" name="bulk_action">
                    <option value="">--Choose--</option>
                    <option value="delete">DELETE</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' form="bulk_form" class="form-control btn btn-danger btn-sm"
                       disabled>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-2 text-right">
            {{ pagerHtml|raw }}
        </div>
    </div> <!-- /#bottom -->



{% endblock %}

