{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - City Report
{% endblock %}

{% block body %}

    <div id="top" class="row">
        <div class="page-header">
            <h2>View City Report <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> (id: {{ report.id }})</h2>
            <a href="{{ path('cityreport_edit', {id: report.id}) }}">Edit</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="1"><a href="{{ path('city_show', {'id': report.city.id }) }}">{{ report.city.name }}</a></th>
                    <th colspan="3">Month {{ report.month }}</th>
                    <th colspan="3">YTD {{ report.year }}</th>
                </tr>
                <tr>
                    <th></th>
                    <th>{{ report.year -1 }}</th>
                    <th>{{ report.year }}</th>
                    <th>% +/-</th>
                    <th>{{ report.year -1 }}</th>
                    <th>{{ report.year }}</th>
                    <th>% +/-</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>New Listings</td>
                    <td>{{ report.newListingsMonthPrev }}</td>
                    <td>{{ report.newListingsMonthCurr }}</td>
                    <td>{{ report.newListingsMonthChange }}</td>
                    <td>{{ report.newListingsYtdPrev }}</td>
                    <td>{{ report.newListingsYtdCurr }}</td>
                    <td>{{ report.newListingsYtdChange }}</td>
                </tr>
                <tr>
                    <td>Closed Sales (Reported)</td>
                    <td>{{ report.salesReportedMonthPrev }}</td>
                    <td>{{ report.salesReportedMonthCurr }}</td>
                    <td>{{ report.salesReportedMonthChange }}</td>
                    <td>{{ report.salesReportedYtdPrev }}</td>
                    <td>{{ report.salesReportedYtdCurr }}</td>
                    <td>{{ report.salesReportedYtdChange }}</td>
                </tr>
                <tr>
                    <td>Closed Sales (Projected)</td>
                    <td>{{ report.salesProjectedMonthPrev }}</td>
                    <td>{{ report.salesProjectedMonthCurr }}</td>
                    <td>{{ report.salesProjectedMonthChange }}</td>
                    <td>{{ report.salesProjectedYtdPrev }}</td>
                    <td>{{ report.salesProjectedYtdCurr }}</td>
                    <td>{{ report.salesProjectedYtdChange }}</td>
                </tr>
                <tr>
                    <td>Listings Under Contract</td>
                    <td>{{ report.ContractListingsMonthPrev }}</td>
                    <td>{{ report.ContractListingsMonthCurr }}</td>
                    <td>{{ report.ContractListingsMonthChange }}</td>
                    <td>{{ report.ContractListingsYtdPrev }}</td>
                    <td>{{ report.ContractListingsYtdCurr }}</td>
                    <td>{{ report.ContractListingsYtdChange }}</td>
                </tr>
                <tr>
                    <td>Average Sales Price</td>
                    <td>{{ report.AvgPriceMonthPrev }}</td>
                    <td>{{ report.AvgPriceMonthCurr }}</td>
                    <td>{{ report.AvgPriceMonthChange }}</td>
                    <td>{{ report.AvgPriceYtdPrev }}</td>
                    <td>{{ report.AvgPriceYtdCurr }}</td>
                    <td>{{ report.AvgPriceYtdChange }}</td>
                </tr>
                <tr>
                    <td>Median Sales Price</td>
                    <td>{{ report.MedianPriceMonthPrev }}</td>
                    <td>{{ report.MedianPriceMonthCurr }}</td>
                    <td>{{ report.MedianPriceMonthChange }}</td>
                    <td>{{ report.MedianPriceYtdPrev }}</td>
                    <td>{{ report.MedianPriceYtdCurr }}</td>
                    <td>{{ report.MedianPriceYtdChange }}</td>
                </tr>
                <tr>
                    <td>Percent of Original List Price Received*</td>
                    <td>{{ report.PercentReceivedMonthPrev }}</td>
                    <td>{{ report.PercentReceivedMonthCurr }}</td>
                    <td>{{ report.PercentReceivedMonthChange }}</td>
                    <td>{{ report.PercentReceivedYtdPrev }}</td>
                    <td>{{ report.PercentReceivedYtdCurr }}</td>
                    <td>{{ report.PercentReceivedYtdChange }}</td>
                </tr>
                <tr>
                    <td>Days on Market Until Sale</td>
                    <td>{{ report.DaysOnMarketMonthPrev }}</td>
                    <td>{{ report.DaysOnMarketMonthCurr }}</td>
                    <td>{{ report.DaysOnMarketMonthChange }}</td>
                    <td>{{ report.DaysOnMarketYtdPrev }}</td>
                    <td>{{ report.DaysOnMarketYtdCurr }}</td>
                    <td>{{ report.DaysOnMarketYtdChange }}</td>
                </tr>
                <tr>
                    <td>Inventory of Homes for Sale</td>
                    <td>{{ report.InventoryMonthPrev }}</td>
                    <td>{{ report.InventoryMonthCurr }}</td>
                    <td>{{ report.InventoryMonthChange }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Months Supply of Inventory</td>
                    <td>{{ report.MonthsSupplyMonthPrev }}</td>
                    <td>{{ report.MonthsSupplyMonthCurr }}</td>
                    <td>{{ report.MonthsSupplyMonthChange }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>

    <hr/>

    <div class="form-group">
        <a class="btn btn-default" href="{{ path('cityreport') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Back to list
        </a>
        <a class="btn btn-primary" href="{{ path('cityreport_edit', { 'id':  report.id }) }}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            Edit
        </a>
        <a class="btn btn-info" href="{{ path('cityreport_new') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </a>
        <form action="{{ path('cityreport_delete', { 'id': report.id }) }}" method="post"
              style="display: inline-block">
            <input type="hidden" name="_method" value="DELETE"/>
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete
            </button>
        </form>
    </div>


{% endblock %}

